<td colspan="5">
  <ul class="forty">
    {{#facet name="Image"}}<img src="{{displayValue}}"/>{{/facet}}
  </ul>
  <ul class="sixty">
    {{#facet name="Website"}}
      <li>
        <b>website</b>
        <span class="facet-values"><a class="webkite-website" href="{{displayValue}}">{{displayValue}}</a></span>
      </li>
    {{/facet}}
    {{#facet name="Twitter"}}
      <li>
        <b>twitter</b>
        <span class="facet-values"><a href="https://twitter.com/{{displayValue}}">{{displayValue}}</a></span>
      </li>
    {{/facet}}
    {{#facet name="University"}}
      <li>
        {{#if filterable}}
          <b class="inline-filter-button">
            <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
            <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
              {{#each filterableValues}}
                <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
              {{/each}}
            </ul>
          </b>
          <span class="facet-values">
            {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
          </span>
        {{else}}
          <b>{{downcase name}}</b>
          <span class="facet-values">{{displayValue}}</span>
        {{/if}}
      </li>
    {{/facet}}
    {{#facet name="Degree"}}
      <li>
        {{#if filterable}}
          <b class="inline-filter-button">
            <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
            <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
              {{#each filterableValues}}
                <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
              {{/each}}
            </ul>
          </b>
          <span class="facet-values">
            {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
          </span>
        {{else}}
          <b>{{downcase name}}</b>
          <span class="facet-values">{{displayValue}}</span>
        {{/if}}
      </li>
    {{/facet}}
    {{#facet name="Year of Graduation"}}
      <li>
        <b>year of graduation</b>
        <span class="facet-values">{{displayValue}}</span>
      </li>
    {{/facet}}
    {{#facet name="Employer"}}
      <li>
        {{#if filterable}}
          <b class="inline-filter-button">
            <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
            <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
              {{#each filterableValues}}
                <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
              {{/each}}
            </ul>
          </b>
          <span class="facet-values">
            {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
          </span>
        {{else}}
          <b>{{downcase name}}</b>
          <span class="facet-values">{{displayValue}}</span>
        {{/if}}
      </li>
    {{/facet}}
    {{#facet name="Department"}}
      <li>
        {{#if filterable}}
          <b class="inline-filter-button">
            <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
            <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
              {{#each filterableValues}}
                <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
              {{/each}}
            </ul>
          </b>
          <span class="facet-values">
            {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
          </span>
        {{else}}
          <b>{{downcase name}}</b>
          <span class="facet-values">{{displayValue}}</span>
        {{/if}}
      </li>
    {{/facet}}
    {{#facet name="Job Title"}}
      <li>
        <b>job title</b>
        <span class="facet-values">{{displayValue}}</span>
      </li>
    {{/facet}}
  </ul>
</td><!-- webkite-item-details -->