<td colspan="5">
      <ul class="forty">
        {{#facet name="Image"}}<img src="{{displayValue}}"/>{{/facet}}
    	</ul>
    	<ul class="sixty">
        <li>
          <b>website</b>
          {{#facet name="Website"}}
          <span class="facet-values">
          <a href="{{displayValue}}">{{displayValue}}</a>
          </span>
          {{/facet}}
        </li>
        <li>
          <b>twitter</b>
          {{#facet name="Twitter"}}
          <span class="facet-values">
          <a href="https://twitter.com/{{displayValue}}">{{displayValue}}</a>
          </span>
          {{/facet}}
        </li>
        <li>
          <b>university</b>
          {{#facet name="University"}}
          {{#if filterable}}
          <span class="facet-values">
          {{#each values}}
          <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}
          {{/each}}
          </span>
          {{else}}
          {{displayValue}}
          {{/if}}
          {{/facet}}
        </li>
        <li>
          <b>degree</b>
          {{#facet name="Degree"}}
          {{#if filterable}}
          <span class="facet-values">
          {{#each values}}
          <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}
          {{/each}}
          </span>
          {{else}}
          {{displayValue}}
          {{/if}}
          {{/facet}}
        </li>
        <li>
          <b>year of graduation</b>
          {{#facet name="Year of Graduation"}}
          <span class="facet-values">
          {{displayValue}}
          </span>
          {{/facet}}
        </li>
        <li>
          <b>employer</b>
          {{#facet name="Employer"}}
          {{#if filterable}}
          <span class="facet-values">
          {{#each values}}
          <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}
          {{/each}}
          </span>
          {{else}}
          {{displayValue}}
          {{/if}}
          {{/facet}}
        </li>
        <li>
          <b>department</b>
          {{#facet name="Department"}}
          {{#if filterable}}
          <span class="facet-values">
          {{#each values}}
          <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}
          {{/each}}
          </span>
          {{else}}
          {{displayValue}}
          {{/if}}
          {{/facet}}
        </li>
        <li>
          <b>job title</b>
          {{#facet name="Job Title"}}
          <span class="facet-values">
          {{displayValue}}
          </span>
          {{/facet}}
        </li>
      </ul>
  	</td><!-- webkite-item-details -->