{{ log this}}
<header class="webkite-results-header">
  <div class="webkite-sort-area">{{>sorts this.sort}}</div>
  <div class="webkite-filter-area">{{>filters this.filters}}</div>
</header>

{{#with items}}
<table>
  <thead>
    <tr>
      <th class="image-thumbnail"></th>
      <th>Name</th>
      <th class="webkite-address">Address</th>
      <th class="webkite-email">Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
    <tr class="webkite-result">
      {{#facet name="Image"}}
      <td>
        <div class="image-thumbnail" style="background-image:url({{displayValue}});"></div>
      </td>
      {{/facet}}
      <td>
        <h2>
          {{#facet name="First Name"}}{{displayValue}}{{/facet}} 
        </h2>
        <h2>
          {{#facet name="Last Name"}}{{displayValue}}{{/facet}}
        </h2>
      </td>
      <td class="webkite-address">
         <a class="webkite-address" target="_blank" href="http://maps.google.com/?q={{#facet name='Address 1'}}{{displayValue}}{{/facet}} {{#facet name='City'}}{{displayValue}}{{/facet}} {{#facet name='State'}}{{displayValue}}{{/facet}} {{#facet name='Zip Code'}}{{displayValue}}{{/facet}} {{#facet name='Country'}}{{displayValue}}{{/facet}}">
          {{#facet name="Address 1"}}<span>{{displayValue}}</span>{{/facet}}
          {{#facet name="Address 2"}}<span>{{displayValue}}</span>{{/facet}}
          {{#facet name="City"}}<span>{{displayValue}}{{/facet}}, {{#facet name="State"}}{{displayValue}}{{/facet}}
          {{#facet name="Zip Code"}}{{displayValue}}{{/facet}}</span>
          </a>
      </td>
      <td class="webkite-email">
        {{#facet name="Email"}}<a href="mailto:{{displayValue}}" class="webkite-email">{{displayValue}}</a>{{/facet}}
      </td>
      <td>
        {{#facet name="Phone Number"}}<a href="tel:{{displayValue}}">{{displayValue}}</a>{{/facet}}
      </td>
      <td>
        <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler {{#if showDetails}}webkite-hide{{/if}} more-button" data-target=".{{this.id}}-toggler" data-animate="200ms">more</a>
      	<a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler {{#unless showDetails}}webkite-hide{{/unless}} less-button" data-target=".{{this.id}}-toggler" data-animate="200ms">less</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/with}}

<footer class="webkite-results-footer">
  <div class="webkite-branding-area"><a href="http://webkite.com"></a></div>
  <div class="webkite-pagination-area">{{>paginator pagination}}</div>
</footer>
