{{#if sortableFacets.length}}
<div class="webkite-sort-area">
  <a class="webkite-toggle" href="#{{this.id}}" data-id="{{this.id}}" data-target=".sort-menu">sort<i></i></a>
  <ul class="sort-menu webkite-menu webkite-hide">
    {{#each sortableFacets}}
  	<li class="webkite-apply-sort"><a href="#" class="{{#if (equals this ../currentSort)}}active{{/if}}" data-id="{{this.id}}"  data-sort="{{this}}">{{this}}</a></li>
  	{{/each}}
  </ul>
</div>
{{/if}}